<div id="<%= dom_id bookmark %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
  </div>
  <div>
    <strong class="block font-medium mb-1">Url:</strong>
    <a href="<%= bookmark.url %>" target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:underline">
      <%= bookmark.title %>
    </a>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= bookmark.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Tags:</strong>
    <%= bookmark.tag_list %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Icon:</strong>
    <%= image_tag rails_storage_proxy_path(bookmark.icon) if bookmark.icon.attached? %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Apple Touch Icon:</strong>
    <%= image_tag rails_storage_proxy_path(bookmark.apple_touch_icon) if bookmark.apple_touch_icon.attached? %>
  </div>
</div>