<%= form_with(model: bookmark, class: "contents", data: { controller: "bookmark-remote-fetch" }) do |form| %>
  <% if bookmark.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>
      <ul class="list-disc ml-6">
        <% bookmark.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.text_field :url, data: { "bookmark-remote-fetch-target": "url" } %>
    <div id="url-fetch-status" data-bookmark-remote-fetch-target="status" class="hidden text-sm text-red-cmyk-400 mt-1"></div>
  </div>
  <div class="my-5">
    <%= form.text_field :title, data: { "bookmark-remote-fetch-target": "title" } %>
  </div>
  <div class="my-5">
    <%= form.text_area :description, rows: 4, data: { "bookmark-remote-fetch-target": "description" } %>
  </div>
  <div class="my-5">
    <%= form.text_field :feed_url, data: { "bookmark-remote-fetch-target": "feed_url" } %>
  </div>
  <div class="my-5">
    <%= render 'shared/tag_selector', form: form %>
  </div>
  <div class="inline">
    <%= form.submit %>
  </div>
<% end %>
