<%= form_with(model: bookmark, class: "contents", data: { controller: "url-title-fetcher" }) do |form| %>
  <% if bookmark.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>
      <ul class="list-disc ml-6">
        <% bookmark.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.text_field :url, data: { "url-title-fetcher-target": "url" } %>
  </div>
  <div class="my-5">
    <%= form.text_field :title, data: { "url-title-fetcher-target": "title" } %>
  </div>
  <div class="my-5">
    <%= form.text_area :description, rows: 4 %>
  </div>
  <div class="my-5">
    <%= render 'shared/tag_selector', form: form %>
  </div>
  <div class="inline">
    <%= form.submit %>
  </div>
<% end %>
