<% content_for :title, "Tags" %>
<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Tags</h1>
    <%= primary_link_to "New tag", new_tag_path %>
  </div>
  <div id="tags" class="min-w-full divide-y divide-gray-200 space-y-5">
    <% if @tags.any? %>
      <% @tags.each do |tag| %>
        <div class="flex flex-col sm:flex-row justify-between items-center pb-5 sm:pb-0">
          <%= render tag %>
          <div class="w-full sm:w-auto flex flex-col sm:flex-row space-x-2 space-y-2">
            <%= primary_link_to "Show", tag %>
            <%= default_link_to "Edit", edit_tag_path(tag) %>
            <%= danger_button_to "Destroy", tag, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No tags found.</p>
    <% end %>
  </div>
</div>
